/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Iconos y elementos en la barra de navegación */
.navbar img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Estilo del buscador */
.search-bar {
  flex-grow: 1;
  margin: 0 10px;
}

.search-bar input {
  width: 75%;
  /* Ocupa el 75% de la barra de arriba */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-icon {
  margin-left: auto;
}

/* Contenedor principal de la aplicación */
.main-container {
  display: flex;
}

/* Barra lateral izquierda con botones de filtro y cantidad */
.sidebar {
  width: 200px;
  background-color: #eee;
  padding: 10px;
}

/* Botones de filtro en la barra lateral */
.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

/* Contenido principal a la derecha de la barra lateral */
.content {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

/* Tarjeta de crédito */
.credit-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}